@model IEnumerable<Entities.Colaborateur>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Poste)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Equipe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreDeplacement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anciennete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateValiditeVisa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateFinVisa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poste)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDeplacement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anciennete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateValiditeVisa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFinVisa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
             
            </td>
        </tr>
    }

</table>
